
footer{
    border-top: 0.1em solid #79C258;
    font-family: "Roboto regular", sans-serif;
    position: absolute;
    width: 100%;
    top: 92%;
    

}
.footer__liens{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
   font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
    padding-top: 1.5%;  
}

.footer__liens__lien{
    text-decoration: none;
    color: #3DAD5C;
    
}
.footerliens{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
   font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
    border-top: 0.1em solid #79C258;
    
    
   

}
.footerlienslien{
    text-decoration: none;
    color: #3DAD5C;
}
/*copyright*/
.copyrightsmart{
   display: none;
   padding-top: 5%;
}
/*responsive mobile*/
@media screen and (min-width: 300px) and (max-width: 400px){
.footer{
    padding-left: 5%;
    font-family: "Roboto regular", sans-serif;
}
.footer__liens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    gap: 0;

}
.footer__liens li {
    margin-top: 3%;
}
.footer__liens__lien{
    text-decoration: none;
    color: #3DAD5C;
    font-size: 90% ; 
    
    
}

.copyrightsmart{
   display:block;
    font-size: 120%;
    padding-bottom: 1em;
}
#footer__modedemploi{
    position: absolute;
    right: 45%;
  
}
#footer__calculateur{
    position: absolute;
    right: 31%;
   
}
#footer__contact{
    position: absolute;
    right: 56%;
   
}

}
/*responsive notebook*/
@media screen and (min-width: 1250px) and (max-width: 1850px){
   .footer{
    padding-bottom: 1%;
   }
}
/*responsive tablette*/
@media screen and (min-width: 620px) and (max-width: 900px){
    .footers{
        top: 90%;
    }
    .footer{
        padding-left: 5%;
        font-family: "Roboto regular", sans-serif;
        
    }
    .footer__liens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
        gap: 0;
    
    }
    .footer__liens li {
        margin-top: 3%;
    }
    .footer__liens__lien{
        text-decoration: none;
        color: #3DAD5C;
        font-size: 90% ; 
        
        
    }
    
    .copyrightsmart{
       display:block;
        font-size: 120%;
        padding-bottom: 1em;
    }
    #footer__modedemploi{
        position: absolute;
        right: 70%;
        top: 56%;
    }
    #footer__calculateur{
        position: absolute;
        right: 65%;
        top: 73%;
    }
    #footer__contact{
        position: absolute;
        right: 76%;
        top: 89%;
       
    }
    
    
}