
footer{
    border-top: 0.1em solid #79C258;

}
.footer__liens{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
   font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
    padding-top: 1%;  
}

.footer__liens__lien{
    text-decoration: none;
    color: #3DAD5C;
    
}
.footerliens{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
   font-size: 120%;
    gap: 2em;
    list-style: none;
    padding-right: 1em;
    border-top: 0.1em solid #79C258;
    
    
   

}
.footerlienslien{
    text-decoration: none;
    color: #3DAD5C;
}

.copyrightsmart{
   display: none;
   padding-top: 5%;
}

@media screen and (min-width: 300px) and (max-width: 400px){
.footer{
    padding-left: 5%;
    font-family: "Roboto regular", sans-serif;
}
.footer__liens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    gap: 0;

}
.footer__liens li {
    margin-top: 3%;
}
.footer__liens__lien{
    text-decoration: none;
    color: #3DAD5C;
    font-size: 90% ; 
    
    
}

.copyrightsmart{
   display:block;
    font-size: 120%;
    padding-bottom: 1em;
}
#footer__modedemploi{
    position: absolute;
    right: 45%;
   bottom: 3%;
}
#footer__calculateur{
    position: absolute;
    right: 31%;
    bottom: -0.4%;
}
#footer__contact{
    position: absolute;
    right: 56%;
    bottom: -3.9%;
}

}