/* style pour mon conteneur  */
.content-wrappervelib {
    display: flex; /* flexbox */
    flex-direction: column; /* pour disposer les élements en colonnes */
    align-items: center; /* centrer les elements horizontalement */
    justify-content: center; /* centrer les elements verticalement */
    padding: 10% 0%; /* ajout de marges internes 10% en haut et en bas et 5% à gauche et à droite */
    min-height: 3vh; /* hauteur min du conteneur */
}

/* styles pour mon minuteur */
#minuteurvelib {
    display: grid; /* grid*/
    grid-template-columns: repeat(4, 1fr); /* quatre colonnes de largeur egale */
    gap: 3%; /* espace entre mes minuteurs */
    margin-top: 45%; /* marge au dessus du minueteur */
    padding-right: 1.5VH;
}

/* style pour jhms et nombre */
.boxvelib {
    height: 8vh; /* hauteur*/
    width: 7.5vh; /* largeur */
    text-align: center; /* centre le texte horizontalement */
    display: flex; /* Flexbox pour centrer verticalement et horizontalement */
    flex-direction: column; /* mettre element en colonne */
    justify-content: center; /* centre les elements verticalement */
    background-color: #019961; /* couleur de la boite */
    color: #ffffff; /* couleur de mon texte */
}

/* style pour mes chiffres*/
.boxvelib > div:first-child /* styles pour le premier paragraphe de chaque .boxvelib */ {
    font-size: 2.5em; /* taille des nombres */
    padding: 1%; /* marge autour des nombres */
}

/* style */
.joursvelib, .heuresvelib, .minutesvelib, .secondesvelib {
    font-size: 10px; /* taille jhms */
}

/* style pour le titre */
.Titlevelib {
    font-size: 2.9em; /* taille de la police */
    font-family: "Montserrat semi bold", sans-serif; /* nom de la police du titre */
    font-weight: 500; /* epaisseur de la police */
    font-style: normal; /* style de la police */
    text-align: center; /* centre le titre */
    margin-top: 5%; /* marge au dessus du titre */
    margin-bottom: 5%; /* marge en dessous du titre */
}

/* style pour le paragraphe */
.Paragraphevelib {
    font-family: "Roboto regular", sans-serif; /* Police du paragraphe */
    font-weight: 300;
    font-style: normal; /* style de la police */
    font-size: 18px; /* taille de la police */
    text-align: center; /* centre le paragragphe */
    margin-top: 1%; /* marge au dessus du paragraphe */
    word-spacing: normal; /* espacement des mots */
}

/* Styles pour les mobiles */
@media screen and (min-width: 360px) and (min-height: 800px){
    #minuteurvelib {
        margin-top: 70%; /* marge au dessus du minueteur */
    }
    .boxvelib {
        height: 8.8vh; /* hauteur*/
}
#footervelib {
    top: 77%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}
}
@media screen and (min-width: 800px) and (min-height: 360px){
    #minuteurvelib {
        margin-top: 0%; /* marge au dessus du minueteur */
        padding-right: 7vh;/* padding gauche pour le minuteur */
    }
    .boxvelib {
        height: 18vh; /* hauteur*/
        width: 17vh;
}
.Titlevelib {
    font-size: 3em; /* taille de la police */
    margin-bottom: 1vh; /* marge en dessous de mon titre */
}
#footervelib {
    top: 98%; /* permet de remonter le footer */
    width: 100%; /* largeur du footer */
}

.content-wrappervelib {
    padding: 3% 5%; /* ajout de marges internes 10% en haut et en bas et 5% à gauche et à droite */
}
}
/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (min-height: 1024px){
    #minuteurvelib {
        margin-top: 40%; /* marge au dessus du minueteur */
    }
    .boxvelib {
        height: 6.5vh; /* hauteur*/
        width: 6vh; /* largeur de mes box */
}
#footervelib {
    top: 65%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}
}
@media screen and (min-width: 1024px) and (min-height: 768px){
    #minuteurvelib {
        margin-top: 50%; /* marge au dessus du minueteur */
        padding-left: 3vh;/* padding gauche pour le minuteur */
    }
    .boxvelib {
        height: 8.5vh; /* hauteur*/
        width: 8vh;/* largeur de mes box */
}
#footervelib {
    top: 92%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}
}
/* Styles pour les Notebooks */
 @media screen and (min-width: 1366px) and (min-height: 768px){
    .boxvelib {
        height: 8.9vh; /* hauteur*/
        width: 8.5vh;/* largeur de mes box */
}
#footervelib {
    top: 92%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}
#minuteurvelib {
    margin-top: 50%; /* marge au dessus du minueteur */
    padding-left: 5vh;/* padding gauche pour le minuteur */
}
 }

 @media screen and (min-width: 768px) and (min-height: 1366px) {
    #minuteurvelib {
        margin-top: 45%; /* marge au dessus du minueteur */
    }
    .boxvelib {
        height: 5vh; /* hauteur*/
        width: 4.5vh;/* largeur de mes box */
}
#footervelib {
    top: 50%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}
 }

/* Styles pour les desktops */
@media screen and (min-width: 1920px) and (min-height: 1080px){
    .boxvelib {
        height: 6vh; /* hauteur de mes box*/
        width: 5.5vh;/* largeur de mes box */
}
#footervelib {
    top: 94%; /* permet de remonter le footer */
    width: 98%; /* largeurdu footer */
}
#minuteurvelib {
    margin-top: 80%; /* marge au dessus du minueteur */
    padding-left: 4vh;/* padding gauche pour le minuteur */
}
}
@media screen and (min-width: 1080px) and (min-height: 1920px) {
    .boxvelib {
        height: 3.5vh; /* hauteur de mes box*/
        width: 3vh; /* largeur de mes box */
}
#footervelib {
    top: 43%; /* permet de remonter le footer */
    width: 100%; /* largeurdu footer */
}

#minuteurvelib {
    margin-top: 43%; /* marge au dessus du minueteur */
    padding-left: 5vh;/* padding gauche pour le minuteur */
}
}

/* styles pour les très grands ecrans (au-dessus de 1920px) */
@media screen and (min-width: 2560px) and (min-height: 1440px) {
    #minuteurvelib {
        margin-top: 85%; /* marge au dessus du minueteur */
        padding-left: 6vh; /* padding gauche pour le minuteur */
    }
    .boxvelib {
        height: 5vh; /* hauteur */
        width: 5vh;/* largeur de mes box */
    }
    #footervelib {
        top: 95%; /* permet de remonter le footer */
        width: 100%; /* largeur du footer */
    }
    .Titlevelib {
        font-size: 3.7em; /* taille de la police */
        margin-bottom: 1vh;/* marge en dessous de mon titre */
    }
}

/* Styles pour les écrans ultra larges (au-dessus de 2560px) */
@media screen and (min-width: 3840px) and (min-height: 2160px) {
    #minuteurvelib {
        margin-top: 99%; /* marge au dessus du minueteur */
     
    }
    .boxvelib {
        height: 3.5vh; /* hauteur */
        width: 3vh;
    }
    #footervelib {
        top: 96%; /* permet de remonter le footer */
        width: 100%; /* largeur du footer */
    }
    .Titlevelib {
        font-size: 3em; /* taille de la police */
        margin-bottom: 1vh;/* marge en dessous de mon titre */
    }
}