
.content-wrappervelib {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 5%;
    min-height: 3vh; /* Modification pour couvrir la hauteur de l'écran */
}

/* Styles pour le minuteur */
#minuteurvelib {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 3%;
    margin-top: 5%;
}

.boxvelib {
    height: 9vh; 
    width: 100%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #019961;
    color: #ffffff;
}

.boxvelib > div:first-child {
    font-size: 2.5em; 
    padding: 1%;
}

.joursvelib, .heuresvelib, .minutesvelib, .secondesvelib {
    font-size: 10px;
}

.Titlevelib {
    font-size: 2.3em; 
    font-family: "Montserrat", sans-serif;
    font-weight: 500; 
    font-style: normal;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.Paragraphevelib {
    font-family: "Roboto", sans-serif;
    font-weight: 300; 
    font-style: normal;
    font-size: 1em; 
    text-align: center;
    margin-top: 1%;
}

/* Mobile paysage et portrait */
@media screen and (max-width: 800px) {
    .content-wrappervelib {
        padding: 15% 5%; 
    }

    #minuteurvelib {
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 20vh;
    }
    .boxvelib {
        width: 100%;
        
    }
}


/* Tablettes portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Tablettes paysage */
@media screen and (min-width: 1025px) and (max-width: 1366px) {

}

/* Desktops */
@media screen and (min-width: 1367px) {
   
}




