.rectangle{
    position: absolute;
    width: 40%;
    height: 40vh;
    background-image: linear-gradient(to bottom right, #B5D653,  #019961);
    z-index: 1;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px ;
    margin-top: 25vh;
}
.groupe3{
    position: absolute;
    z-index: 2;
    width: 28%;
    margin-top: 13vh;
    margin-left: 140px;
}
.pc{
    position: relative;
    z-index: 3;
    width: 45%;
    margin-left: 220px;
    margin-top: 38vh;
}
.corps{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.projet{
    width: 50%;
    margin-top: 15vh;
}
.trait{
    width: 300px;
    height: 5px;
    background-image: linear-gradient(to bottom right, #B5D653,  #019961);
}
h5{
    font-size: 50px;
}
