#apropos-nav{
    position: fixed;
    top: 0;
}
// le debut du corps de la page à propos

#apropos-body{
    height: 100%;
    width: 100%;
}
.slider {
    display: flex;
    align-items: start;
    margin-top: 250px;
}
// début du premier slide
.slide{
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 278px;
    width: 1920px;
}
.representation{
    
    width: 630px;
}
.rectangle{
    position: absolute;
    width: 40%;
    height: 350px;
    background-image: linear-gradient(to bottom right, #B5D653,  #019961);
    z-index: 1;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px ;
    
}
.groupe3{
    position: absolute;
    z-index: 2;
    width: 30%;
    margin-top: -6vh;
    margin-left: 70px;
}
.pc{
    position: relative;
    z-index: 3;
    width: 80%;
    margin-left: 120px;
    margin-top: 13vh;
}

.projet{
    width: 900px;
    padding-left: 150px;
}
.titre5{
    display: flex;
    flex-direction: row;
}
.cercle4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #79C258 ;
    margin-top: 20px;
    margin-right: 20px;
}
h5{
    font-family: "Montserrat semi bold", sans-serif,;
    font-size: 50px;
    color: #362e2e;
}
.trait{
    width: 300px;
    height: 5px;
    background-image: linear-gradient(to bottom right, #B5D653,  #019961);
    margin-left: 20px;
}
.p-desktop{
    font-family: "Roboto regular", sans-serif;
    display: block;
}
.p-mobile{
    font-family: "Roboto regular", sans-serif;
    display: none;
}
p{
    line-height: 2;
}
// fin du premier slide 

.fleche{
    align-content: center;
    margin-left: -50px;
    
}

.flèche{
    align-content: center;
    border: none;
    font-size: 50px;
    text-align: center;
    background-color: white;
    color: #79C258 ;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
}
// début du deuxième slide 

.fleche2{
    align-content: center;
    margin-left: 50px;
}
.projet2{
    width: 900px;
    position: relative;
    z-index: 2;
    margin-left: -50px;
}
.nature{
    width: 1100px;
    height: 110%;
    position: absolute;
    z-index: -1;
    margin-left: 800px;
    margin-top: -220px;
}
.trait2{
    display: none;
}

.apropos-footer{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 200%;
    border-top: 0.1em solid #79C258;
    margin-top: -20px;
}

// fin du deuxième slide

@media screen and (min-width: 1366px) and (max-width:1920px) {
    .slide{
        width: 1366px;
    }
    .nature{
        width: 700px;
        margin-left: 700px;
        margin-top: -260px;
    }
    .projet2{
        width: 700px;
    }
    .pc{
        width: 90%;
        margin-left: 85px;
        margin-top: 18vh;
    }
    .groupe3 {
        width: 35%;
        margin-top: -5vh;
        margin-left: 40px;
    }
    .rectangle {
        height: 300px;
      }
    .slider {
        margin-top: 200px;
    }
}
@media screen and {
    
}