#nb-km{
    width: 100%;
    border-style :none;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.125);
    height: 2.5em;
    margin-bottom: 3em;
}

#nb-jr{
    width: 100%;
    border-style :none;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.125);
    height: 2.5em;
    margin-bottom: 2em;
}

::placeholder{
    opacity: 0.3;
    font-size: 1.2em;
}

.calculateuryoh__main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-family: "Roboto regular", sans-serif;
}

fieldset, .calculateuryoh{
border-top: 0.1em solid white;
  border-bottom: 0.1em solid white;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
  margin-bottom: 8%;
  box-shadow: 0px -1px 10px rgb(221, 220, 220);
  border-radius: 2%;
  background-color: white;
  padding: 2em;
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  font-family: "Roboto regular", sans-serif;
}

#boutoncalculateuryoh{
    background: rgb(2,0,36);
    background: linear-gradient(-50deg, #009F64 0%, #AAD46B 100%); 
    padding: 1.5em;
    border-radius: 100px;
    border: none;
    color: white;
}

#boutoncalculateuryoh:hover{
    transition: 1s;
    background: rgb(2,0,36);
    background-color: #178B59;
    padding: 1.5em;
    border-radius: 100px;
    border: none;
}

.calculateuryohgrndecran__titre{
    display: none;
    word-spacing: 0;
    text-align: center;
}

.calculateuryohpttecran__titre{
    display: block;
    word-spacing: 0;
    text-align: center;
    margin-top: 20%;
}

@media only screen and (min-width : 360px) and (max-width: 767px){
    .calculateuryohpttecran__titre{
        display: none;
    }

    .calculateuryohgrndecran__titre{
        display: block;
    }

    .calculateuryohdesc{
        font-size: 0.9em;
        font-family: "Roboto regular", sans-serif;
    }

    #boutoncalculateuryoh{
        background: rgb(2,0,36);
        background: linear-gradient(-50deg, #009F64 0%, #AAD46B 100%); 
        padding: 1.5em;
        border-radius: 100px;
        border: none;
        color: white;
    }
}

@media only screen and (min-width : 768px){
    .calculateuryohpttecran__titre{
        display: none;
    }

    .calculateuryohgrndecran__titre{
        display: block;
        margin-top: 10%;
    }

    @media only screen and (min-width : 1366px){

    }

    @media only screen and (min-width : 1920px){
        .calculateuryohgrndecran__titre{
            display: block;
            margin-top: 3%;
        }
    }
}