#nb-km{
    width: 100%;
    border-style :none;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.125);
    height: 2.5em;
    margin-bottom: 3em;
}

#nb-jr{
    width: 100%;
    border-style :none;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.125);
    height: 2.5em;
    margin-bottom: 2em;
}

::placeholder{
    opacity: 0.3;
    font-size: 1.2em;
}

.calculateur__main{
    width: 50%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-family: "Roboto regular", sans-serif;
}

fieldset, .calculateur{
border-top: 0.1em solid white;
  border-bottom: 0.1em solid white;
  border-left: 0.1em solid white;
  border-right: 0.1em solid white;
  margin-bottom: 8%;
  box-shadow: 0px -1px 10px rgb(221, 220, 220);
  border-radius: 2%;
  background-color: white;
  padding: 2em;
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  font-family: "Roboto regular", sans-serif;
  padding-left: 10em;
  padding-right: 10em;
}

#boutoncalculateur{
    background: rgb(2,0,36);
    background: linear-gradient(-50deg, #009F64 0%, #AAD46B 100%); 
    padding: 1.5em;
    border-radius: 100px;
    border: none;
    color: white;
    display: block;
}

#boutoncalculateur:hover{
    transition: 1s;
    background: rgb(2,0,36);
    background: linear-gradient(-50deg, #AAD46B 0%,#009F64 100%);
    padding: 1.5em;
    border-radius: 100px;
    border: none;
    color: white;
}

#boutoncalculateursmart{
    display: none;
    background: rgb(2,0,36);
    background: linear-gradient(-50deg, #009F64 0%, #AAD46B 100%); 
    padding: 1.5em;
    border-radius: 100px;
    border: none;
    color: white;
}

.calculateurgrndecran__titre{
    display: none;
    word-spacing: 0;
    text-align: center;
}

.calculateurpttecran__titre{
    display: block;
    word-spacing: 0;
    text-align: center;
    margin-top: 20%;
}

@media only screen and (min-width : 360px) and (max-width: 767px){
    fieldset, .calculateur{
        height: 50vh;
        padding-left: 1em;
        padding-right: 1em;
    }

    .calculateurpttecran__titre{
        display: block;
    }

    .calculateurgrndecran__titre{
        display: none;
    }

    .calculateurdesc{
        font-size: 0.7em;
        font-family: "Roboto regular", sans-serif;
        text-align: center;
    }

    .calculateur__main{
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 2vh;
    }

    #boutoncalculateursmart{
        display: block;
        background: rgb(2,0,36);
        background: linear-gradient(-50deg, #009F64 0%, #AAD46B 100%); 
        padding: 1em;
        border-radius: 100px;
        border: none;
        color: white;
        font-size: 1.2em;
        letter-spacing: 1px;
        font-weight: 200;
        width: 95%;
    }

    #boutoncalculateur{
        display: none;
    }
}

@media only screen and (min-width : 768px){
    fieldset, .calculateur{
        height: 30vh;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .calculateurpttecran__titre{
        display: none;
    }

    .calculateurgrndecran__titre{
        display: block;
        margin-top: 5%;
    }

    .calculateur__main{
        width: 90%;
        margin-bottom: 2em;
        margin-top: 8em;
    }
}

    @media only screen and (min-width : 1366px){
        .calculateur__main{
            width: 90%;
            margin-bottom: 2em;
        }

        fieldset, .calculateur{
            height: 50vh;
            padding-left: 10em;
            padding-right: 10em;
        }

    }

    @media only screen and (min-width : 1920px){
        .calculateurgrndecran__titre{
            display: block;
            margin-top: 3%;
        }

        .calculateur__main{
            width: 50%;
            margin-bottom: 2em;
        }
    }