.contact__titre{
    text-align: center;
    padding-top: 3%;
    font-family: "Montserrat semi bold", sans-serif,;
   
    
}
form{
    
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 3%;
}
fieldset{
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    border-left: 0.1em solid white;
    border-right: 0.1em solid white;
    margin-bottom: 10%;
    box-shadow: 0px -1px 10px   rgb(221, 220, 220);
    border-radius: 2%;
    background-color: white;
    
}
.prenom{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 3%;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    width: 100%;
    
}
#prenom{
    border: none;
    border-bottom: 0.1em solid #eeeeee;
    padding-top: 10%;
    font-family: "Roboto regular", sans-serif;
    font-size: 100%;
    color: #79C258;
}
.prenom ::placeholder{
    color: #eeeeee;
}
.nom{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 3%;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    width: 100%;
    
}
#nom{
    border: none;
    border-bottom: 0.1em solid #eeeeee;
    padding-top: 10%;
    font-family: "Roboto regular", sans-serif;
    font-size: 100%;
    color: #79C258;
}
.nom ::placeholder{
    color: #eeeeee;
}
.etatcivil{
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
}
.email{
    display: flex;
    flex-flow: column nowrap;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    width: 100%;
}
#email{
    border: none;
    border-bottom: 0.1em solid #eeeeee;
    padding-top: 10%;
    font-family: "Roboto regular", sans-serif;
    font-size: 100%;
    color: #79C258;
}
.email ::placeholder{
    color: #eeeeee;
}
.tel{
    display: flex;
    flex-flow: column nowrap;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    width: 100%;
}
#tel{
    border: none;
    border-bottom: 0.1em solid #eeeeee;
    padding-top: 10%;
    font-family: "Roboto regular", sans-serif;
    font-size: 100%;
    color: #79C258;
    
    
}
.tel ::placeholder{
    color: #eeeeee;
}
.infocontact{
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
}
.info{
    display: flex;
    flex-flow: column nowrap;
    width: 88.5%;
    padding-left: 3.5%;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    
}
#message{
    padding-top: 4%;
    font-family: "Roboto regular", sans-serif;
    font-size: 100%;
}
textarea{
    color: #eeeeee;
    border: none;
    border-bottom: 0.1em solid #eeeeee;
}

.button{
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
    padding-right: 8%;
    padding-bottom: 5%;
    
    
}
#envoie{
    width: 25%;
    background: linear-gradient(#B5D653,#019961) ;
    color: white;
    border-radius: 44px 45px 53px 60px / 40px 43px 44px 45px;
    border-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Roboto regular", sans-serif;
    font-size: 120%;
    
}
.fougere{
    width: 13%;
    z-index: -1;
    position: absolute;
    left: 22%;
    top: 20%;
}
.algue{
    width: 13%;
    z-index: -1;
    position: absolute;
    top: 55%;
    left: 19.1%;
    transform: rotate(-10deg);
}
.plante{
    width: 13%;
    z-index: -1;
    position: absolute;
    right: 21.5%;
    top: 55%;
    transform: rotate(15deg);
}
.ronds{
    
    grid-column: 7/9;
    grid-row: 1/2;
    width: 13%;
   
}
.rond1{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1em solid #79C258;
    margin-left: 400px ;
    position: fixed;
    top: 14%;
    right: 21%;
}
.rond2{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 1.2em solid #019961;
    position: fixed;
    top: 18%;
    right: 25%;
}
.rond3{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1.2em solid #B5D653;
    margin-left: 500px ;
    margin-top: -350px;
    position: fixed;
    top: 63%;
    right: 20.5%;
}

.prenom__tel{
    display: none;
}
.nom__tel{
    display: none;
}
.button__mobile{
    display: none;
}
@media screen and (min-width: 300px) and (max-width: 400px){
 
    .contact__main{
        width: 90%;

    }
    .contact__titre{
        text-align: start;
        padding-top: 30%;
        padding-left: 3%;
        padding-bottom: 3%;
    }
    form{
       padding: 0;
    }

    .prenom__tel{
        display: block;
        
    
    }
    #email{
        padding-top: 2%;
    }
    .email{
        width: 50%;
    }
    #tel{
        padding-top: 2%;
    }
    .tel{
        width: 50%;
    }
    #nom{
        padding-top: 2%;
    }
    .nom{
        width: 25%;

    }
    #prenom{
        padding-top: 2%;
        
    }
   
    .nom__tel{
        display: block;
    }
    .grid{
        display: flex;
        flex-flow: column nowrap;
    }
    .etatcivil{
        display: flex;
        flex-flow: row nowrap;
    }
    .prenom{
        display: flex;
        flex-flow: column nowrap;
        order: 1;
        width: 25%;
    }
    .infocontact{
        display: flex;
        flex-flow: column nowrap;
        order: -1;
     
    }
    .info{
        padding: 0;
        width: 35%;
    }
    #envoye{
        font-size: 120%;
        width: 60%;
        padding-top: 5%;
        padding-bottom: 5%;
    background: linear-gradient(#B5D653,#019961) ;
    color: white;
    border-radius: 44px 45px 53px 60px / 40px 43px 44px 45px;
    border-color: rgb(255, 255, 255);
   
    }
    .button__mobile{
        display: block;
        display: flex;
        justify-content:flex-start;
        padding-top: 1%;
        padding-left: 7%;
    }
    .button{
        display: none;
    }
 
    .ronds{
        display: none;
    }
    .fougere{
        display: none;
    }
    .plante{
        display: none;
    }
    .algue{
        display: none;
    }
   
}

