* {
    margin: 0;
    padding: 0;
}

.image1 {
    display: block;
    width: 600px;
    margin-left: 90px;
}
.image2 {
    display: none;
}

.button1 {
    background-image: linear-gradient(to bottom right, #79C258, #019961);
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    width: 150px;
    box-shadow: 2px 2px 10px #3DAD5C;
    transition: background-image 0.2s linear;
}

.button2 {
    background-color: white;
    color: #019961;
    border-radius: 25px;
    border: 2px solid #019961;
    cursor: pointer;
    height: 50px;
    font-size: 17px;
    padding: 5px;
    text-align: center;
    width: 150px;
    transition: background-color 0.4s ease;
}

.button2:hover {
    background-color: #019961;
    color: white;
    box-shadow: 2px 2px 10px #3DAD5C;

}

.button1:hover {
    background-image: linear-gradient(to bottom right, #019961, #019961);
    color: white;
    transition: 0.2s;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #362e2e;
}

.corps {
    display: flex;
    flex-direction: row-reverse;

}

.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px;
}

h1,
p,
button {
    margin: 20px;
    word-spacing: 10px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.ou {
    text-align: center;
    margin: 25px;
    font-size: 15px;
    padding-top: 9px;
}
.acceuil-footer{
    position: relative;
    margin-top: 290px;
}

// Début affichage téléphone 
@media screen and (max-width: 360px) {
    .corps {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
    }

    .image1 {

        float: left;
        width: 250px;
        margin-left: 110px;
    }

    p,
    h1,
    button {
        text-align: justify;
        margin: 10px;
    }

    .ou {
        text-align: center;
        margin: 0;
    }

    .presentation {
        margin: 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .button1,
    .button2 {
        width: 95%;
    }

    h1 {
        font-size: 25px;
    }
    .acceuil-footer{
        position: relative;
        margin-top: 20px;
    }
   
}
// Fin affichage téléphone 

// début affichage tablette 
@media screen and (min-width: 361px) and (max-width: 768px) {
    .corps {
        display: flex;
        flex-direction: column;
    }

    .image1 {
        display: none;
      
    }
    .image2 {
        display: block;
        float: left;
        width: 300px;
        margin-left: 230px;
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p,
    h1,
    button {
        text-align: justify;
        margin: 10px;
        margin-bottom: 30px;
    }

    .ou {
        text-align: center;
        padding-top: 10px;
    }

    .presentation {
        margin: 0;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }

    .ou {
        margin: 10px;
    }

    h1 {
        font-size: 25px;
    }
    .acceuil-footer{
        position: relative;
        margin-top: 20px;
    }
}
// Fin affichage tablette 

