.container-modeemploi{
    display: flex;
    justify-content: center;
    height: 74vh;
    align-items: center;
    color: #030303;
    height: 107vh;
}

.box-modeemploi{
    width: 90%;
}

.bloc{
    display: flex;
    background-size: auto;
    justify-content: center;
    flex-direction: row;
    gap: 5em;
}

.section-modeemploi{
    text-align: center;
    padding: 4em 1em 4em 1em;
    border-radius: 10px;
}

.section-modeemploi2 {
    position: relative;
    text-align: center;
    padding: 4em 1em 4em 1em;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.39);
}

.section-modeemploi2-arriere {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-image: url(../images/bulles.svg);
    background-size: cover;
    z-index: -1;
}

.section-modeemploi2 .image-top-right {
    position: absolute;
    top: -20%;
    right: -20%;
    width: 200px;
    height: auto;
}

@media only screen and (min-width : 360px) and (max-width : 759px){
    .smart{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width : 1920px){
    .smart{
        display: none;
    }

    .ordi{
        display: block;
    }
}

@media only screen and (min-width : 768px){
    .bloc{
        display: flex;
        background-size: auto;
        justify-content: center;
        flex-direction: column;
        gap: 5em;
    }

    .smart{
        display: none;
    }

    .container-modeemploi{
        display: flex;
        justify-content: center;
        height: 74vh;
        align-items: center;
        color: #030303;
        height: 178vh;
    }
}